.App {
  text-align: center;
}

/*
#231E23
#402329
#A14E50
#CA6B68
#EEEEF1
*/
.logo{
  margin: auto;
}
.postContainer {
  width: 230px;
  height: 270px;
  border: 1px solid red;
  display: inline-block;
  text-align: center;
  margin: 1em 0;
  overflow: hidden;
}
.postContainer img {
  background: #3A6F9A;
  vertical-align: middle;
  width: auto;
  max-width: 85%;
  max-height: 70%;
  margin-top: 5%;
}

.main {
  height: 100vh;
  width: 100%;
  border: 1px solid black 
}

.contentContainer {
  display: block;
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}
.menuLink {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #402329;
  border: 1px solid black;
}
.menuLink :hover {
  background-color: #AB6767;
}

.menuLink p {
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  color: #FADFDE;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.menuBar {
  border: 1px solid black;
  width: 200px;
  height: 100vh;
  display: inline-block;
  float: left;
}