.App {
  text-align: center;
}

/* .image {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative
} */

/* .postContainer {
  display: inline-block;
  width: 230px;
  height: 270px;
  background-color: red;
  margin: 10px;
} 
.postContainer img {
  width: 100%;
  height: auto;
} */

.postContainer {
  width: 230px;
  height: 270px;
  border: 1px solid red;
  display: inline-block;
  text-align: center;
  margin: 1em 0;
  overflow: hidden;
}
.postContainer img {
  background: #3A6F9A;
  vertical-align: middle;
  width: auto;
  max-width: 85%;
  max-height: 70%;
  margin-top: 5%;
}
