.App {
  text-align: center;
}

.postContainer {
  width: 230px;
  height: 270px;
  border: 1px solid red;
  display: inline-block;
  text-align: center;
  margin: 1em 0;
  overflow: hidden;
}
.postContainer img {
  background: #3A6F9A;
  vertical-align: middle;
  width: auto;
  max-width: 85%;
  max-height: 70%;
  margin-top: 5%;
}
